<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Air</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                    <a class="navbar-brand" href="index.html">
                        <img src="/static/images/logo.png" alt="" />
                        <span>
                            AIR
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about"> About </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="register"> Registration </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="login"> Login </a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="userhome">USERHOME</a>
                                </li> -->

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>
    <!-- end hero area -->


    <!-- about section -->
    <section class="about_section layout_padding">
        <div class="about_container">
            <div class="container">
                <div class="detail">
                    <h2 class="custom_heading">
                        About Us
                    </h2>
                    <p>
                        Air quality is a critical environmental factor
                        affecting the well-being of urban populations worldwide.
                        The Air Quality Index (AQI) serves as a crucial metric for assessing
                        air quality, incorporating various pollutant concentrations into a single numerical value.
                    </p>
                    <div>
                        <a href="">
                            Machine Learning
                        </a>
                    </div>
                </div>
                <div class="detail-2">
                    <p>
                        Accurate AQI prediction is essential for proactive environmental management and public health
                        protection. In recent years, machine learning and deep learning techniques have emerged as
                        powerful tools for forecasting AQI values, leveraging data from diverse sources such as
                        meteorological, geographical, and historical air quality data.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- end about section -->



    <!-- info section -->

    <!-- footer section -->

    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>

</html>